@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --scrollbar-width: 0.1rem;

    /* Light theme colors */
    --background: 0 0% 100%;
    --background-secondary: 0 0% 96%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --primary-accent: 0 0% 98%;
    --secondary: 0 0% 9%;
    --secondary-foreground: 0 0% 9%;
    --accent: 0 0% 96%;
    --accent-foreground: 0 0% 9%;
    --muted: 0 0% 45%;
    --muted-foreground: 0 0% 45%;
    --border: 0 0% 89%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;
  }

  .dark {
    /* Dark theme colors */
    --background: 0 0% 7%;
    --background-secondary: 0 0% 15%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --primary-accent: 0 0% 15%;
    --secondary: 0 0% 98%;
    --secondary-foreground: 0 0% 9%;
    --accent: 0 0% 15%;
    --accent-foreground: 0 0% 98%;
    --muted: 0 0% 63%;
    --muted-foreground: 0 0% 63%;
    --border: 0 0% 15%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;
  }

  body {
    @apply bg-background text-primary transition-colors;
  }
}

::-webkit-scrollbar {
  width: var(--scrollbar-width);
}

::-webkit-scrollbar-thumb {
  @apply bg-border;
  border-radius: 9999px;
  border-width: 1px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 9999px;
}
